.DS_Store
*.logs
node_modules/
.vscode/
scripts/firebaseAPI_TEAM99.js
scripts/airquality.js
scripts/recommendation.js
scripts/location.js
scripts/profile1.js
scripts/weather.js
scripts/events.js
scripts/profile.js
scripts/main.js
main.js
scripts/main.js
